/* **************** Tag Selector ***************** */
body{
    margin: 0;
}
h1{
    margin-top: 0;
}
div{
    background-color: #ECF2FF;
}
/* **************** Class Selector **************** */

/* **************** ID Selector **************** */

